/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */



.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comments-title {
	margin-bottom: 0;
}


.comment-list {
	margin-left: 0;
	padding-left: 0;

	li{
		margin: 0%;
	}

	& > li {
		border-bottom: $base__border;
		margin: 0%;
	}
}

.children li {
	border-top: $base__border;
}

.comment {
	padding-top: $base__space-unit;

	article {
		padding-bottom: $base__space-unit;
	}
}

.comment-body {
	display: flex;

	p {
		margin-bottom: $base__space-unit / 2;
	}
}

.comment-author-avatar {
	border-radius: 50%;
	height: 64px;
	margin-right: $base__space-unit;
	overflow: hidden;
	width: 64px;
}

.comment-author {
	cite {
		font-style: normal;
		font-weight: bold;
	}
}

.comment-metadata {
	color: $color__brand-med-grey;
	margin-bottom: $base__space-unit / 2;
}

.required {
	color: $third-color;
}

.comment-form-author,
.comment-form-email {
	float: left;

	input {
		width: 100%;
	}
}

.comment-form-author {
	margin-right: 1%;
	width: 49%;
}

.comment-form-email {
	margin-left: 1%;
	width: 49%;
}

.comment-form-url {
	clear: left;
	width: 100%;

	input {
		width: 100%;
	}
}

.comment-reply-title {
	margin-top: $base__space-unit;
}

#cancel-comment-reply-link:hover {
	text-decoration: none;
}
