
footer{
    background-image: url(../../assets/images/dark-wood@2x.png); 
    color: $base-color;
    text-align: center;
    font-family: $alt-font;
    h3{
    font-family: $main-font;
    color: $third-color;

    margin-bottom: .75rem;
    text-transform: uppercase;
    }
    p{
        margin-bottom: .5rem;
        
    }
    a{
        text-decoration: none;
        color: $base-color;
    }

    a:visited {
        color: $base-color;
      }
    
    i{
        font-size: 20px;
        margin-right: .5rem;
        color: blue;
    }


}

.wrapper{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    text-align: left;
    padding: 0px 5%;

}

.wrapperItem{
    margin: 3rem 0;
    margin: 48px 0px;
}

.logo{
    padding-right: 0;
    text-align: right;
    grid-column-start: 3; 
    grid-column-end: 5;
    img{
        max-width: 50%;
    }

}

.site-info{
    font-family: $main-font;
    padding: 1.5rem 0;

}



