
footer{
    background-image: url(../../assets/images/dark-wood@2x.png); 
    color: white;
    text-align: center;
    h3{
    color: #d99054;
    font-size: 19.2px;
    font-size: 1.2rem;
    margin-bottom: .75rem;
    text-transform: uppercase;
    }
    p{
        margin-bottom: .5rem;
        
    }
    
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: left;

}

.wrapperItem{
    margin: 3rem 0;
    padding-right: 1.5rem;
}

.logo{
    padding-right: 0;
    width: 50%;
    grid-column: 3/4;

}

