/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    background: $second-color;
    border: none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-family: $font_alt;
    font-size: 14.4px;
    font-size: .9rem;
    line-height: 1;
    padding: .75rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
	&:hover {
		border-color: #ccc #bbb #aaa;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
	}

	&:active,
	&:focus {
		border-color: #aaa #bbb #bbb;
		box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
    color: #666;
    background-color: #f4f4f4;
    border: 1px solid #e1e1e1;
    border-radius: 0;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
    padding-left: .3rem;
    width: 100%;
}

.btn{
	background: #248a83;
    border: none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-family: Novecento Sans Web,sans-serif;
    font-size: 14.4px;
    font-size: .9rem;
    line-height: 1;
    padding: .75rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;	

}

.btn:hover{
	background: #1e6863;	
}