



.site-header{
    background-color: hsla(0,0%,100%,.85);
    border-bottom: 1px solid #e1e1e1;
    padding: .5rem 0;
    position: fixed;
    transition: top .5s linear;
    width: 100%;
    z-index: 3;
    margin: auto;
    align-items: center;

    i{
        color:$second-color;
    }

    i:hover{
        color: $fourth-color;
    }



    .site-title{
        background: url(../../assets/images/logos/inhabitent-logo-tent.svg) no-repeat;
        background-size: 50px 33px;
    }
    .container{

        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        
    }

    a{
        color:$second-color;
    }

    a:hover{
        color: $fourth-color;
    }


    
    h1{
        background-size: 50px 33px;
        height: 33px;
        margin: 0;
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        width: 50px;

    }
}


.home-site-header{
    padding: .5rem 0;
    position: absolute;
    transition: top .5s linear;
    width: 100%;
    z-index: 3;
    margin: auto;
    align-items: center;

    .site-title{
        background: url(../../assets/images/logos/inhabitent-logo-tent-white.svg) no-repeat;
        background-size: 50px 33px;
    }
    .container{

        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        
    }

    a{
        color:$base-color;
    }

    a:hover{
        color: $fifth-color;
    }

    i{
        color:$base-color;
    }

    i:hover{
        color: $fifth-color;
    }
    
    h1{
        background-size: 50px 33px;
        height: 33px;
        margin: 0;
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        width: 50px;

    }
}

.main-navigation{
    transition: ease;
    display: flex;
}

.hide {
    display: none; // hide this by default
 }
 

.header-search {
    line-height: 1;
    padding-left: 1.5rem;
 
    .search-toggle {
       color: $second-color;
       float: left;
       padding-top: .33rem;
    }
 
    fieldset {
       padding: 0;
    }
 
    label {

       float: left;
       margin: 0;
    }
 
    input[type="search"] {
       border: 0;
       background: transparent;
       font-family: $font_alt;
       margin-left: $base__space-unit / 2;
       padding: 0 ($base__space-unit / 5);
       text-transform: uppercase;
 
       &:focus {
          outline: none;
       }
    }
 }


 
 