/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/


// about page-------
.about-hero{
    display: flex;
    align-items: center;
    background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url(../../assets/images/about-hero.jpg) no-repeat top;
    height: 100vh;
    background-size: cover,cover;
    justify-content: center;
    h1{
        color: $base-color;
        margin-bottom: 0;
        text-align: center;
        font-size: 3rem;
    }


}
.about-wrapper{
    align-content: center;
    h1{
        display: none;
    }
}

.about-page-content{
    margin: auto;
    width: 80%;
}

/* Front page */



.home-hero{
    display: flex;
    align-items: center;
    background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url(../../assets/images/home-hero.jpg) no-repeat top;
    height: 100vh;
    background-size: cover,cover;
    justify-content: center;

}
.home{
    .container{
        margin-left: auto;
        margin-right: auto;
        width: 90%;

    }

    .latest-entries{


        .wp-post-image{
            left: 50%;
            max-height: 250px;
            max-width: none;
            position: absolute;
            top: 50%;
            transform: translate(-50%,-52%);
            width: auto;
        }
        ul{
            display: flex;
            -ms-flex-pack: justify;
            justify-content: space-around;
            list-style-type: none;
            margin-bottom: 0;
            margin-left: 0;
            padding-left: 0;
        }


        li{
            border: 1px solid #e1e1e1;
            -ms-flex: 0 1 32%;
            flex: 0 1 32%;
            position: relative;
        }

        .entry-meta{
            
            font-size: .75rem;
        }



        .thumbnail-wrapper{
            background-color: #e1e1e1;
            height: 250px;
            overflow: hidden;
            position: relative;
        }

        .wp-post-image{
            left: 50%;
            max-height: 250px;
            max-width: none;
            position: absolute;
            top: 50%;
            transform: translate(-50%,-52%);
            width: auto;
        }
        .post-info-wrapper{
            flex-direction: column;
            -ms-flex-pack: justify;
            justify-content: space-between;
            padding: .75rem;
        }


    }
}



.product-info{


    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    margin-bottom: 4.5rem;
    padding: 0% 5%;
    h2{
        color: $fourth-color;
    }

    img{
        height: 70px;
        width: 70px;
    }
}

.content-area{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}




.info_wrapper{
    
    display: inline-block;
    border: 1px solid #e1e1e1;
    border-top-width: 5px;
    text-align: center;
    padding: .75rem;
    padding-bottom: 8%;
}

.info_wrapper:hover{

    border: 1px solid $third-color;
    border-top-width: 5px;
}

h3{
    text-transform: uppercase;
    
}



// PRODUCT-TYPE-----------------

.page-header{
    border-bottom: 1px dashed #c8c8c8;
    margin-bottom: 3rem;
    text-align: center;
}




// JOURNAL-------------


.journal{
    display: flex;
}

.post-content{
    padding-right: 5%;
    width: 80%;
    li{
        margin: 0 0 4.5rem;
    }

    h1{
        background-color: $second-color;
        color: $base-color;
        font-size: 33.6px;
        font-size: 2.1rem;
        left: 0;
        padding: .75rem 1.5rem;
        position: absolute;
        margin-top: 2.25rem;
        max-width: 75%;
        top: 0;
        line-height: 1.25;
        text-align: left;
        font-weight: bold;
    }
    .wp-post-image{
        width: 100%;
    }


}

.widget-area{
    border-left: 1px solid #e1e1e1;
    padding-left: 5%;
    text-align: left;
    width: 27%;

    a{
        font-family: $font__main;
        text-transform: initial;
    }

    a:hover{
        color: $fourth-color;
    }
    
    h2{
        font-size: 1.5rem;
        text-align: left; 
        margin-bottom: 0;
        font-weight: bold;
    }
    ul{
        text-align: left;
        margin: 0;
        padding: 0;
    }
}

.entry-header{
    line-height: 0;
    position: relative;
    justify-content: left;

    a{
        color: $base-color;
    }

    a:hover{
        color: $fifth-color;
    }
    h2{
        background-color: $second-color;
        color: $base-color;
        font-size: 33.6px;
        font-size: 2.1rem;
        left: 0;
        padding: .75rem 1.5rem;
        position: absolute;
        margin-top: 2.25rem;
        max-width: 75%;
        top: 0;
        line-height: 1.25;
        text-align: left;
        font-weight: bold;
    }
        .entry-meta{

        background-color: $second-color;
        bottom: 0;
        color: $base-color;
        display: inline-block;
        font-family: $font_alt;
        padding: 1.00005rem 1.5rem;
        position: absolute;
        right: 0;
        text-transform: uppercase;
        
    }
}

.entry-meta{

    font-size: .75rem;
}


.entry-footer{
    text-align: left;
    background: none ;
    color: $color__text-main;
    a{
        color:  $second-color;
      }
      a:visited{
        color:  $second-color;
      }
}
.cat-links, .tags-links {
    display: inline-block;
    font-family: $font_alt;
    text-transform: uppercase;

}

.comments-area{
    h2{
        text-align: left;
        font-weight: bold;
    }
}

// find-us

.find-us{
    padding-right: 5%;
    width: 80%;
    h2{
        text-align: left; 
        margin-bottom: 0;
        font-weight: bold;
    }
    ul{
        margin: 0px;
        padding: 0px;
    
    }

    h1{
        text-align: left;
    }


}

// 404 ERROR

.error{
    li{
        margin: 0px;
    }
}





