/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */



.home-hero{
    // display: flex;

}

.product-info{


    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    margin-bottom: 4.5rem;
    padding: 0% 5%;
    h2{
        color: $fourth-color;
    }

    img{
        height: 70px;
        width: 70px;
    }
}

.first-button{

    background: #248a83;
    border: none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-family: $font_alt;
    font-size: 14.4px;
    font-size: .9rem;
    line-height: 1;
    padding: .75rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;

}

.first-button:hover{
    background: $second-color; 
}

.second-button{
    color: black;
    border: 1px solid #000;
    color: #000;
    font-size: .9rem;
    line-height: 1;
    padding: .75rem 1.5rem;
}

.second-button:hover{
    color: $base-color;
    background: $second-color;
    border: 1px solid $second-color; 
}

.info_wrapper{
    
    display: inline-block;
    border: 1px solid #e1e1e1;
    border-top-width: 5px;
    text-align: center;
    padding: .75rem;
    padding-bottom: 8%;
}

.info_wrapper:hover{

    border: 1px solid $third-color;
    border-top-width: 5px;
}


.content-wrap{
    display: flex;
    a{
        color: #248a83;
        text-decoration: none;
        text-transform: uppercase;
        font-family: $font_alt;
    }
    .second-button{
        color: black;
    }
}

.image_wrapper{
    
    background-color: #e1e1e1;
    height: 250px;
    overflow: hidden;
    position: relative;

    img{
        left: 50%;
    max-height: 250px;
    max-width: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-52%);
    width: auto;
}
    
}






