// Structure

$base__space-unit: 1.5rem;

// Colors

$base-color:#fff;
$second-color:#248a83;
$third-color:#d99054;
$fourth-color: #2f1339;


$color__background-body: #fff;
$color__text-main: #404040;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: royalblue;
$color__link-visited: $base-color;
$color__link-hover: $base-color;

// Typography


$font__main: "Merriweather Web",serif;
$font_alt: "Novecento Sans Web", serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
